#contact-page {
  background-color: var(--color-1);
}

.contact-bg {
  background: linear-gradient(var(--color-11) 50%, var(--color-1) 0);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
  border-radius: 0.4rem;
}

.contact-data {
  box-shadow: 0 2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.contact-data {
  background: var(--color-12);
  padding: 6rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

.contact-data h2 {
  margin-bottom: 6rem;
}

.contact-address a {
  display: block;
}

.contact-address a:hover {
  color: var(--color-0);
}

.contact-local,
.contact-address a {
  padding-left: 2.8rem;
  margin-bottom: 3.2rem;
  background-repeat: no-repeat;
  background-position: left 0 top 0.2rem;
}

.contact-local {
  margin-bottom: 3.2rem;
  padding-left: 2.8rem;
  background-image: url("../../img/icones/local.svg");
}

.contact-local p {
  margin-bottom: 0.8rem;
}

.contact-address a:first-child {
  background-image: url("../../img/icones/email.svg");
  margin-bottom: 0.8rem;
}

.contact-address a:last-child {
  background-image: url("../../img/icones//telefone.svg");
  margin-bottom: 6rem;
}

.contact-data .footer-media-list {
  padding-left: 2.8rem;
}

/* .contact-form {
  background: var(--color-0);
  padding: var(--card-padding);
  border-radius: 0 0.4rem 0.4rem 0;
} */
