#contact-page {
  background: linear-gradient(var(--color-11) 60rem, var(--color-1) 0);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
  border-radius: 0.4rem;
}

.contact-data,
.contact-form {
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
}

.contact-data {
  background: var(--color-12);
  border-radius: 0.4rem 0 0 0.4rem;
}

.contact-form {
  background-color: var(--color-0);
  border-radius: 0 0.4rem 0.4rem 0;
}

.contact-data h2 {
  margin-bottom: 6rem;
}

.contact-address a {
  display: block;
  max-width: max-content;
}

.contact-address a:hover {
  color: var(--color-0);
}

.contact-local,
.contact-address a {
  padding-left: 2.8rem;
  margin-bottom: 3.2rem;
  background-repeat: no-repeat;
  background-position: left 0 top 0.2rem;
}

.contact-local {
  margin-bottom: 3.2rem;
  padding-left: 2.8rem;
  background-image: url("../../img/icones/local.svg");
}

.contact-local p {
  margin-bottom: 0.8rem;
}

.contact-address a:first-child {
  background-image: url("../../img/icones/email.svg");
  margin-bottom: 0.8rem;
}

.contact-address a:last-child {
  background-image: url("../../img/icones//telefone.svg");
  margin-bottom: 6rem;
}

.contact-data .footer-media-list {
  padding-left: 2.8rem;
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-data,
  .contact-form {
    padding: 2rem;
  }
  .contact-data {
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .contact-form {
    border-radius: 0 0 0.4rem 0.4rem;
  }
  .contact-data h2,
  .contact-address a:last-child {
    margin-bottom: 3.2rem;
  }
  .contact-data .footer-media-list {
    margin-bottom: 1.2rem;
  }
}
