.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.button,
.button-secondary,
.button-arrow {
  display: inline-block;
  background: linear-gradient(var(--color-p1), #f2a50c);
  color: var(--color-p5);
  font-family: "Poppins";
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.35;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: max-content;
  border: none;
}

.button:hover,
.button-arrow:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.button-secondary {
  background: var(--color-10);
  color: var(--color-2);
}

.button-secondary:hover {
  background: var(--color-9);
}

.button-arrow {
  display: flex;
  align-items: center;
}

.button-arrow::after {
  content: "";
  display: inline-block;
  background: url("../../img/icones/seta.svg") no-repeat center;
  width: 1.8rem;
  height: 1rem;
  margin-left: 1.2rem;
  transition: transform 0.2s;
}

.button-arrow:hover::after {
  transform: translateX(0.4rem);
}

@media (max-width: 600px) {
  .button,
  .button-secondary,
  .button-arrow {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
  }
}

.link {
  display: inline-block;
  color: var(--color-p1);
  font: 500 2.4rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: currentColor;
  position: absolute;
  margin-top: 0.4rem;
}

.link:hover {
  color: var(--color-0);
}

.page-title-bg {
  background: var(--color-11);
  color: var(--color-0);
}

.page-title {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.page-title p {
  display: block;
  margin-bottom: 0.4rem;
}

@media (max-width: 800px) {
  .page-title-bg {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .page-title p {
    font-size: 1.6rem;
    text-transform: lowercase;
  }
}
