.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  background: linear-gradient(var(--color-p1), #f2a50c);
  color: var(--color-p5);
  font-family: "Poppins";
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.35;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .button {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
  }
}

.link {
  display: inline-block;
  color: var(--color-p1);
  font: 500 2.4rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: currentColor;
  position: absolute;
  margin-top: 0.4rem;
}

.link:hover {
  color: var(--color-0);
}
