.form {
  --initial-template-columns: 1fr 1fr;
  --initial-col-max: 1 / -1;
  display: grid;
  grid-template-columns: var(--initial-template-columns);
  gap: 2rem;
  align-content: flex-start;
}

.form label {
  display: block;
  font: 500 1.6rem/1.5 "Poppins", sans-serif;
  margin-bottom: 0.4rem;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="number"],
.form textarea {
  font: 400 1.6rem/1.5 "Roboto", sans-serif;
  color: var(--color-7);
  padding: 1.2rem;
  border-radius: 0.4rem;
  background-color: var(--color-1);
  border: 0.1rem solid var(--color-2);
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  background-color: var(--color-0);
  outline: none;
  border-color: var(--color-p1);
  box-shadow: 0 0 0 0.2rem #fea;
}

.form .col-max {
  grid-column: var(--initial-col-max);
}

@media (max-width: 1000px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-max {
    grid-column: initial;
  }
}

@media (max-width: 800px) {
  .form {
    grid-template-columns: var(--initial-template-columns);
  }
  .form .col-max {
    grid-column: var(--initial-col-max);
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-max {
    grid-column: initial;
  }
}
