.footer-bg {
  background: var(--color-12);
  color: var(--color-0);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer-section {
  display: grid;
  gap: 3.2rem;
  align-content: flex-start;
}

.footer-section ul {
  display: grid;
  gap: 1.6rem;
}

.footer-contact li:nth-child(even)::after {
  content: "";
  display: block;
  background-color: var(--color-11);
  height: 0.2rem;
  max-width: 36rem;
  margin-top: 1.6rem;
}

.footer-media-list {
  display: flex;
  gap: 3.2rem;
}

.footer a:hover {
  color: var(--color-0);
}

.footer-copy {
  grid-column: 1 / -1;
  margin-top: 4rem;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer > img {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 6rem;
  }
  .footer-copy {
    margin-top: initial;
  }
}
