.bikes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-content: flex-start;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* you can use position relative / absolute as well */
.bikes-img {
  display: grid;
}

.bikes-img img {
  grid-column: 1;
  grid-row: 1;
}

.bikes-img span {
  grid-column: 1;
  grid-row: 1;
  place-self: start end;
  margin-top: 2rem;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  background: var(--color-12);
  color: var(--color-0);
  border-radius: 0.4rem 0 0 0.4rem;
}

.bikes-details {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: flex-start;
}

.bikes-details h2,
.bikes-details > p {
  grid-column: 1 / -1;
}

.bikes-details h2 {
  margin-bottom: 2rem;
  color: var(--color-11);
}

.bikes-details h2::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.8rem;
  background: var(--color-p1);
  margin-bottom: 0.8rem;
}

.bikes-details > p {
  margin-bottom: 3.2rem;
}

.bikes-details-list {
  display: grid;
  gap: 1.6rem;
}

.bikes-details-list li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.bikes-details a {
  place-self: end;
}

.bikes-content {
  color: var(--color-8);
}

.bikes-bg:nth-child(even) {
  background: linear-gradient(to right, var(--color-0) 30%, var(--color-11) 0);
  color: var(--color-5);
}

.bikes-bg:nth-child(even) h2 {
  color: var(--color-0);
}

@media (max-width: 1000px) {
  .bikes-details a {
    grid-column: 1 / -1;
    place-self: start;
  }
  .bikes-details-list {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 800px) {
  .bikes {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .bikes-bg:nth-child(even) {
    background: var(--color-11);
  }
}

@media (max-width: 600px) {
  .bikes-details-list {
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  .bikes-details-list {
    grid-template-columns: 1fr;
  }
}
