#insurance-page .insurance {
  padding-top: 0;
}

.insurance-bg {
  background: var(--color-12);
}

.insurance-benefits-bg {
  background-color: var(--color-12);
  padding: 12rem 0;
}

.insurance-benefits ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 8rem;
}

.insurance-benefits img {
  width: 3.2rem;
  height: 3.2rem;
}

.insurance-benefits h3 {
  font: 500 2.4rem/1.5 "Poppins", sans-serif;
  color: var(--color-0);
}

.insurance-benefits li {
  display: grid;
  gap: 0.8rem;
  align-content: flex-start;
}

.insurance-questions {
  padding: 12rem 0;
}

.insurance-questions h2 {
  margin-bottom: 6rem;
}

.insurance-question-item {
  padding: 2rem;
  cursor: pointer;
}

.insurance-question-item:nth-child(odd) {
  background: var(--color-1);
}

.insurance-question-item dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.8rem;
  align-items: center;
}

.insurance-question-item dt::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 0.8rem;
  background: var(--color-p1);
}

.insurance-question-item dt::after {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 0.8rem;
  background: url("../../img/icones/seta-abrir.svg") no-repeat center;
}

.insurance-question-item dd {
  padding-top: 1.6rem;
  padding-left: 2rem;
  max-width: 75ch;
}
