.testimony {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color-p1);
  overflow: hidden;
}

.testimony img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.testimony-content {
  padding: 4rem 4rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  background: url("../../img/dec/top-left-p.svg") no-repeat top 4rem left 4rem,
    url("../../img/dec/bottom-right-p.svg") no-repeat bottom 4rem right 4rem;
}

.testimony-content p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  color: var(--color-p5);
  margin-bottom: 3.2rem;
  position: relative;
}

.testimony-content p::before,
.testimony-content p::after {
  color: var(--color-p2);
  font-size: 8rem;
  position: absolute;
}

.testimony-content p::before {
  content: "“";
  left: -5rem;
  top: -2rem;
}

.testimony-content p::after {
  content: "”";
}

@media (min-width: 1200px) {
  .testimony img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .testimony {
    grid-template-columns: 1fr;
  }
  .testimony img {
    max-height: 200px;
  }
  .testimony-content {
    padding: 4rem 2rem;
    align-items: center;
    text-align: center;
  }
  .testimony-content p {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 600px) {
  .testimony-content p::before {
    left: -2rem;
  }
}
